<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Trabalho_Mobile"
        tools:targetApi="31">
        <activity
            android:name=".TecnologiaAplicaadasaeducacao"
            android:exported="false" />
        <activity
            android:name=".Mineracaodedados"
            android:exported="false" />
        <activity
            android:name=".QualidadedeSoftware"
            android:exported="false" />
        <activity
            android:name=".Complexidadedealgoritimos"
            android:exported="false" />
        <activity
            android:name=".Simulacaoavaliacaodedesempenho"
            android:exported="false" />
        <activity
            android:name=".SociedadeeInformaticappc"
            android:exported="false" />
        <activity
            android:name=".ComputacaoGraficaErealidadeVirtualppc"
            android:exported="false" />
        <activity
            android:name=".GerenciaeProjetoDeSoftwareppc"
            android:exported="false" />
        <activity
            android:name=".GestaoDainformacaoppc"
            android:exported="false" />
        <activity
            android:name=".RedesDeComputadoresppc"
            android:exported="false" />
        <activity
            android:name=".DesenvolvimentoWebippc"
            android:exported="false" />
        <activity
            android:name=".PsicologiaAplicadaAInformaticappc"
            android:exported="false" />
        <activity
            android:name=".InterfaceHomemComputadorppc"
            android:exported="false" />
        <activity
            android:name=".Sistemasopercionaisppc"
            android:exported="false" />
        <activity
            android:name=".BancoDeDadosdoisppc"
            android:exported="false" />
        <activity
            android:name=".AnaliseEProjetosDeSistemasppc"
            android:exported="false" />
        <activity
            android:name=".Engenhariadesoftwareppc"
            android:exported="false" />
        <activity
            android:name=".Estruturadedadosdoisppc"
            android:exported="false" />
        <activity
            android:name=".estruturadedadosumppc"
            android:exported="false" />
        <activity
            android:name=".BancoDeDadosumppc"
            android:exported="false" />
        <activity
            android:name=".Probabilidadeppc"
            android:exported="false" />
        <activity
            android:name=".Administracaodoisppc"
            android:exported="false" />
        <activity
            android:name=".Administracaoumppc"
            android:exported="false" />
        <activity
            android:name=".Estagioppc"
            android:exported="false" />
        <activity
            android:name=".Accppc"
            android:exported="false" />
        <activity
            android:name=".AEU"
            android:exported="false" />
        <activity
            android:name=".tccdois"
            android:exported="false" />
        <activity
            android:name=".Seguranca_Auditoria"
            android:exported="false" />
        <activity
            android:name=".Prog_Mobile"
            android:exported="false" />
        <activity
            android:name=".tccum"
            android:exported="false" />
        <activity
            android:name=".Sistemas_Informacao_Gerenciais"
            android:exported="false" />
        <activity
            android:name=".Sistemas_Distribuidos"
            android:exported="false" />
        <activity
            android:name=".Inteligencia_Artificial"
            android:exported="false" />
        <activity
            android:name=".Empreendedorismo"
            android:exported="false"
            android:label="@string/title_activity_empreendedorismo"
            android:theme="@style/Theme.Trabalho_Mobile" />
        <activity
            android:name=".Org_Sistemas"
            android:exported="false" />
        <activity
            android:name=".Seg_Redes_Computadores"
            android:exported="false" />
        <activity
            android:name=".Direito_Legisla"
            android:exported="false" />
        <activity
            android:name=".Gerencia_Redes"
            android:exported="false" />
        <activity
            android:name=".Dev_web_2"
            android:exported="false" />
        <activity
            android:name=".OrganizacaoAC"
            android:exported="false" />
        <activity
            android:name=".Estruturadedadosum"
            android:exported="false" />
        <activity
            android:name=".Filosofiaciencia"
            android:exported="false" />
        <activity
            android:name=".Economia"
            android:exported="false" />
        <activity
            android:name=".Calculo"
            android:exported="false" />
        <activity
            android:name=".Organizacaoarquitetura"
            android:exported="false" />
        <activity
            android:name=".Programacaodois"
            android:exported="false" />
        <activity
            android:name=".TeoriaGeral"
            android:exported="false" />
        <activity
            android:name=".Metodologia"
            android:exported="false" />
        <activity
            android:name=".Estatistica"
            android:exported="false" />
        <activity
            android:name=".Logicaaplicada"
            android:exported="false" />
        <activity
            android:name=".Matematicadiscreta"
            android:exported="false" />
        <activity
            android:name=".Estagiofichadehoras"
            android:exported="false" />
        <activity
            android:name=".Estagiorelatorio"
            android:exported="false" />
        <activity
            android:name=".Estagiotermo"
            android:exported="false" />
        <activity
            android:name=".Estagioplanoatividade"
            android:exported="false" />
        <activity
            android:name=".Regimentoestagio"
            android:exported="false" />
        <activity
            android:name=".Estagiosupervisionado"
            android:exported="false" />
        <activity
            android:name=".Tcc"
            android:exported="false" />
        <activity
            android:name=".Extensao"
            android:exported="false" />
        <activity
            android:name=".Acccalculadora"
            android:exported="false" />
        <activity
            android:name=".Acctabela"
            android:exported="false" />
        <activity
            android:name=".Regimentoacc"
            android:exported="false" />
        <activity
            android:name=".Acc"
            android:exported="false" />
        <activity
            android:name=".Programacao"
            android:exported="false" />
        <activity
            android:name=".Modulo_um"
            android:exported="false" />
        <activity
            android:name=".Ementa"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>